extends ./layout/index

block content
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="image about we" class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac erat sollicitudin, molestie metus consectetur, sodales lacus. Nullam tellus tellus, convallis non risus ac, eleifend lobortis ligula. Sed vehicula, lorem suscipit tempor iaculis, dui erat consectetur quam, id ultricies erat ligula sit amet lorem. Nam sit amet elementum ex. Nullam ante massa, pellentesque elementum euismod vitae, imperdiet sed leo. Duis sit amet vehicula turpis. Vivamus egestas sapien in urna accumsan, id iaculis lacus ornare. Duis vel ante ac purus interdum ullamcorper ut non justo. Mauris maximus tellus mi, et feugiat diam tristique sodales.
                p auctor pharetra lorem at rhoncus. Aliquam aliquam lectus tellus. Sed porta neque id ex aliquet elementum. Duis et eros diam. Quisque elementum cursus rutrum. Pellentesque sagittis eleifend sem eget faucibus. Nullam dictum libero id ipsum tristique, et consequat velit hendrerit. Cras erat risus, fringilla sit amet eros vel, vestibulum lacinia risus. Aliquam in luctus magna. Aliquam a finibus lectus. Nullam arcu lacus, tincidunt nec gravida eu, tincidunt quis orci. Duis consequat semper elementum. Sed augue mauris, placerat sed velit nec, vestibulum pretium nisi. Morbi vel lectus nec est posuere pharetra et ac elit.
                p a interdum erat. Proin lobortis tortor vitae ultricies scelerisque. Maecenas nec lectus pharetra, semper ipsum sit amet, rutrum urna. Cras condimentum lacinia quam sed dapibus. Mauris efficitur ligula mauris, a cursus mi sollicitudin in. Nunc at lacinia lectus. Nullam ullamcorper ante quis feugiat suscipit. Vestibulum faucibus ut purus vitae bibendum. Morbi ac mauris nunc.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="security Icon", css="img-fluid mb-4")
                    h2.mb-4 Security
                    p a interdum erat. Proin lobortis tortor vitae ultricies scelerisque. Maecenas nec lectus pharetra, semper ipsum sit amet, rutrum urna. Cras condimentum lacinia quam sed dapibus. Mauris efficitur ligula mauris, a cursus mi sollicitudin in. Nunc at lacinia lectus. Nullam ullamcorper ante quis feugiat suscipit. Vestibulum faucibus ut purus vitae bibendum. Morbi ac mauris nunc.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="destations Icon", css="img-fluid mb-4")
                    h2.mb-4 Destinations
                    p a interdum erat. Proin lobortis tortor vitae ultricies scelerisque. Maecenas nec lectus pharetra, semper ipsum sit amet, rutrum urna. Cras condimentum lacinia quam sed dapibus. Mauris efficitur ligula mauris, a cursus mi sollicitudin in. Nunc at lacinia lectus. Nullam ullamcorper ante quis feugiat suscipit. Vestibulum faucibus ut purus vitae bibendum. Morbi ac mauris nunc.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Price Icon", css="img-fluid mb-4")
                    h2.mb-4 Prices
                    p a interdum erat. Proin lobortis tortor vitae ultricies scelerisque. Maecenas nec lectus pharetra, semper ipsum sit amet, rutrum urna. Cras condimentum lacinia quam sed dapibus. Mauris efficitur ligula mauris, a cursus mi sollicitudin in. Nunc at lacinia lectus. Nullam ullamcorper ante quis feugiat suscipit. Vestibulum faucibus ut purus vitae bibendum. Morbi ac mauris nunc.
